{% extends "_base.html" %}

{% block css %}
 <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<div class="form container">
  <h1>Log Into Your Account</h1>
  <form id="signup"class="signup" action="/login" method="post">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" id="input-email">
        </div>
        <div class="col-md-6">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="input-password">
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

{% endblock %}
