{% extends "_base.html" %}

{% block css %}
 <link rel="stylesheet" href="/css/new_review.css">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <form action="/restaurants/{{restaurant_id}}/reviews/new" method="POST">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label for="rating">Logged In As:{{name}}</label>
        <p class="form-control-static"></p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <label for="rating">Rating:</label>
        <label class="radio-inline">
          <input type="radio" name="rating" id="rating-radio-1" value="1"> 1
        </label>
        <label class="radio-inline">
          <input type="radio" name="rating" id="rating-radio-2" value="2"> 2
        </label>
        <label class="radio-inline">
          <input type="radio" name="rating" id="rating-radio-3" value="3"> 3
        </label>
        <label class="radio-inline">
          <input type="radio" name="rating" id="rating-radio-4" value="4"> 4
        </label>
        <label class="radio-inline">
          <input type="radio" name="rating" id="rating-radio-5" value="5"> 5
        </label>

        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <label for="review">Your Review</label>
          <textarea rows="5" class="form-control col-xs-6" name="text" id="review"></textarea>
        </div>
      </div>
    </div>

    <input type="hidden" name="restaurant_id" value="{{restaurant_id}}">
    <input type="hidden" name="user_id" value="{{user_id}}">
    <button type="submit" class="btn btn-default">Review {{title}}</button>
  </form>
</div>

{% endblock %}
