{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
  <div class="restaurants">
    <div class="">
      <h2>{{restaurants.length}} Review{% if restaurants.length != 1 %}s{% endif %}
        <h3><a href="/restaurants/{{restaurants[0].id}}/reviews/new?name='{{restaurants[0].restaurant_name}}'&id='{{restaurants[0].id}}'">Add New Review</a></h3>
      </h2>

    </div>

      {%for restaurant in restaurants%}
    <div class="restaurantDiv col-xs-4">
      <h1>{{restaurant.restaurant_name}}</h1>
      <img class="restImg"src="{{restaurant.images}}" alt="image"/>
      <h3>{{restaurant.style}}</h3>
      <h4>{{restaurant.location}}</h4>
      <h4>{{restaurant.rating}}</h4>
    </div>
      {%endfor%}
  </div>
  <div class="reviewsDiv col-xs-8">

    {% for review in reviews%}
    <h2>{{review.date}}</h2>
    <h4>{{review.rating}}</h4>
    <p>{{review.text}}<p>
    <p>{{review.first_name}} {{review.last_name}}</p>
    {% endfor%}
  </div>

{% endblock %}
