{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
 <link rel="stylesheet" href="/css/restaurant.css">
{% endblock %}

{% block content %}
  <div class="container restaurants">
    <div class="row restandrev">
      <div class="row restaurant col-xs-6">
        {%for restaurant in restaurants%}
        <div class="restaurantDiv">          
          <h1>{{restaurant.restaurant_name}}</h1>
          {%if admin == true%}
          <div class="adminRest">
            <!-- Success Pop Up -->
            <div class="bs-example" id="mySuccess" style="display:none">
              <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Success!</strong> Your restaurant has been deleted successfully.
              </div>
            </div>
            <!-- Close Success Pop Up -->
            <form action="/restaurants/update/{{restaurant.id}}">
              <input type="submit" class="submitLink" value="Update"/>
            </form>
            <form id="deleteForm">
              <input type="hidden" id="restID" value="{{restaurant.id}}" name="restID" />
              <input type="submit" class="submitLink" value="Delete"/>
            </form>
          </div>
          {%endif%}
          <img class="restImg"src="{{restaurant.images}}" alt="image"/>
          <h3>Cuisine: {{restaurant.style}}</h3>
          <h4>{{restaurant.location}}</h4>
          <h4>{{restaurant.rating}}</h4>
        </div>
        <div class="map">
          <iframe width="250" height="250" frameborder="0" style="border:0" src={{restaurant.map}}>
          </iframe>
        </div>
        {% endfor %}
        {% if admin == false %}
        <div>
          <h3>
            <form action="/restaurants/{{restaurants[0].id}}/reviews/new" method="get">
              <input type="hidden" name="id" value="{{restaurants[0].id}}">
              <input type="hidden" name="name" value="{{restaurants[0].name}}">
              <input class="submitLink" type="submit" name="submit" value="Add Review">
            </form>
          </h3>
        </div>
        {% endif %}

      </div>
      <div class="row review col-xs-6">
        <div class="reviewDiv">
          {% for review in reviews%}
          <h2>{{review.date}}</h2>
          <h4>{{review.rating}}</h4>
          <p>{{review.text}}<p>
          <p>{{review.first_name}} {{review.last_name}}</p>
          {% if user_id == review.user_id%}
          <div class="">
            <h3>
              <form  action="/restaurants/{{restaurants[0].id}}/reviews/edit?_method=PUT" method="post">
                <input type="hidden" name="id" value="{{restaurants[0].id}}">
                <input type="hidden" name="name" value="{{restaurants[0].name}}">
                <input class="submitLink" type="submit" name="submit" value="Edit Review">
              </form>
              <form  action="/restaurants/{{restaurants[0].id}}/reviews/delete?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{restaurants[0].id}}">
                <input type="hidden" name="name" value="{{restaurants[0].name}}">
                <input class="submitLink" type="submit" name="submit" value="Delete Review">
              </form>
            </h3>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% if admin == true %}
    <div class="row adminDiv">
      <div class="employeeDiv">
        <h3>Employees</h3>
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Postion</th>
            <th><form id="addEmployee">
              <input type="hidden" name="id" value="{{restaurant.id}}">
              <input type="hidden" name="name" value="{{restaurant.name}}">
              <input class="submitLink" type="submit" name="submit" value="Add Employee">
            </form>
          </th>
          </thead>
        {% for employee in employees %}
          <tbody>
            <td>{{employee.first_name}} {{employee.lastname}}</td>
            <td>{{employee.position}}</td>
            <td>
              <form  action="/restaurants/{{restaurants[0].id}}/employees/edit?_method=PUT" method="post">
                <input type="hidden" name="id" value="{{employee.id}}">
                <input type="hidden" name="first_name" value="{{employee.first_name}}">
                <input type="hidden" name="last_name" value="{{employee.last_name}}">
                <input type="hidden" name="position" value="{{employee.position}}">
                <input class="submitLink" type="submit" name="submit" value="Edit Employee">
              </form>
              <form  action="/restaurants/{{restaurants[0].id}}/employees/delete?_method=Delete" method="post">
                <input type="hidden" name="id" value="{{employee.id}}">
                <input class="submitLink" type="submit" name="submit" value="Delete Employee">
              </form>
            </td>
          </tbody>
          {% endfor %}
        </table>
      </div>

    </div>
    {% endif %}
  </div>

    <!-- Add Employee Modal -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1>Add New Employee</h1>
          <form id="modal-employee-form" action="/restaurants/employees/new/{{restaurants[0].id}}" method="POST">
            <div class="form-group">
              <label for="first_name">First Name:</label>
              <input type="text" class="form-control" name="first_name" id="first_name">
            </div>
            <div class="form-group">
              <label for="last_name">Last Name:</label>
              <input type="text" class="form-control" name="last_name" id="last_name">
            </div>
            <div class="form-group">
              <label for="position">Position:</label>
              <input type="text" class="form-control" name="position" id="position">
            </div>
            <input type="hidden" name="id" id="form-id">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).on('submit', '#deleteForm', function(event) {
      event.preventDefault();
      const id = $('#restID').val();
      $.ajax({
        type: 'DELETE',
        url: `/restaurants/delete/${id}`
      })
      .done((data) => {
        $('#mySuccess').toggle();
        setTimeout(function() {
          window.location.href = "../../restaurants";
        }, 1000);
        console.log(data);
      })
      .fail((err) => {
        console.log(err);
      });
    });

  $(document).on('submit', '#addEmployee', function(event) {
    event.preventDefault();
    $('#addEmployeeModal').modal('toggle')
  });

  </script>

{%endblock%}
