body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.pageLogo img {
  margin-top: 2%;
  width: 100%;
  border-radius: 0px;
}

.restImg {
  height: 100%;
}

.featured {
  padding: 0 10%;
  text-align: center;
  height: 400px;
}
