body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.pageLogo img {
  width:100%;
  padding:0 5%
}

.restaurantDiv{
  height: 180px;
}

.restImg {
  height: 100px;
}

.featureds {
  padding: 0 10%;
  text-align: center;
  margin-bottom:3 rem
}
