body {
  font: 14px 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: rgba(80, 80, 80, 0.16)
}

img {
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.restaurantDiv{
  height: 180px;
}

.restImg {
  height: 150px;
}

nav {
  width: 100%;
  margin-top: 0px;
  height: 100px;
  background-color: rgb(102, 180, 168);
}

nav ul {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  flex: 2;
  padding-bottom: 10px;
}

nav li {
  display: inline-block;
  padding: 1rem;
  color: black;
}

nav .wrapper {
  display: flex;
}

footer {
 background-color: black;
 margin-bottom: 0px;
}

footer p {
  color: white;
  padding: 16px;
  margin-bottom: 0px;
}

.submitLink {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}

submitLink:focus {
  outline: none;
}
