body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.restImg {
  width: 450px;
  height: auto;
  border-radius: 20px;
}

.restaurantDiv {
  height: 100%
}

.adminDiv {
  margin-bottom: 20px;
}

.restandrev {
  margin-bottom: 20px;
}
