.restaurants {

  text-align: center;
  background-color: rgba(212, 255, 0, 0.55);
  padding: 30px 30px;
}
.addRest{
  margin-bottom: 15px;
}
.restaurantDiv {
  height: 350px;
  margin-bottom: 10px;
  padding: 15px;
}
.innerRest{
  height: 100%
}
.restaurantDiv img {
  width: 100%;
  height: auto;
}

.restaurantDiv h2 {
  text-align: left;
  font-size: 30px;
  margin: 3px;
}

.restaurantDiv h3 {
  text-align: left;
  font-size: 20px;
  margin: 3px;
}
.restaurantDiv h4 {
  text-align: left;
  font-size: 15px;
  margin: 3px;
}
