.row {
  margin-bottom: 15px;
}

div.form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75vh;
}

.form h1 {
  border-bottom: solid 1px #CCCCCC;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
